.sidebar .menu-item {
	-fx-pref-width: 200px;
	
	-fx-text-fill: #fff;
	-fx-background-color: transparent;
	
	-fx-padding: 10px 10px 10px 10px;
}

.sidebar .menu-item.active {
	-fx-background-color: #555;
}

.sidebar .menu-item:hover {
	-fx-background-color: #555;
}

.sidebar {
	-fx-pref-width: 200px;
	-fx-background-color: #444;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.next-button {
	-fx-background-image: url("right.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-text-fill: transparent;
}

.previous-button {
	-fx-background-image: url("left.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-text-fill: transparent;
}

.h1 {
	-fx-font-size: 20px;
	-fx-padding: 10px 0px 10px 0px;	
}

.h2 {
	-fx-font-size: 17px;
	-fx-padding: 10px 0px 10px 0px;
}

.text-muted {
	-fx-text-fill: #6c757d;
}

.root {
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
    src: "/resources/roboto/Roboto-Regular.ttf";
}

.has-error {
	-fx-focus-color: #ff4444;
	-jfx-focus-color: #ff4444;
	-fx-text-fill: #ff4444;
}

.tree-table-view {
    -fx-tree-table-color: #e5e5e5;
    -fx-tree-table-rippler-color: rgba(0, 150, 201, 1);
    -fx-selection-bar: #e5e5e5;
}

.tree-table-view .jfx-text-field{
    -fx-background-color: transparent;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

.error.jfx-snackbar-content {
	-fx-font-weight: bold;
	-fx-background-color: #CC0000;
}
